@model EmployeeHolidayManagement.Models.CreateLeaveAllocationVM

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Leave Types
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.LeaveTypes) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="SetLeave" asp-route-id="@item.Id"><i class="fas fa-users"></i> Allocate to Employees</a> 
            </td>
        </tr>
}
    </tbody>
</table>
